<% if flash[:alert] %>
  <div id = "alert", class = "session_error">
    <%= flash[:alert] %>
  </div>
<% end %>
  <div>
    <h1 class = "login">Log In</h1>
      <%= form_tag controller: 'sessions', action: 'create', method: 'post' do %>
      <div class = "session_login">
        <label for = "name">Username</label>
        <input name=username>
        <label for = "name">Password</label>
        <input name=password>
        <input type = submit value = 'login'>
      </div>
      <% end %>
  </div>
